<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bun venit la LexBox</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <h3 class="navbar-brand" >LexBox</h3>
</nav>

<div class="jumbotron">
  <h1 class="display-3">Bun venit la LexBox!</h1>
    <form method="POST" action="/login">

      <fieldset>
        <legend>Autentificare</legend>
        <div class="form-group">
          <label for="email">Adresa de email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Introducere email">

        </div>
        <div class="form-group">
          <label for="password">Parola</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Parola">
        </div>
        <button type="submit" class="btn btn-primary">Trimite</button>
      </fieldset>
    </form>
</div>

</body>
</html>