<html>
<head>
    <title>Cerere contravenţională</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    .column{
        float:left;
        width:35%;
        padding: 50px;
        text-align: center;
        font-size: 25px;
        cursor: pointer;
        color: white;
    }
    .containerTab {
  padding: 20px;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the container tab */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
</style>




</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="" style="color: black;">LexBox</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
               Cerere Formulare
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="Parcare">Loc de parcare</a>
                <a class="dropdown-item" href="Gunoi">Aruncare gunoiului</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>


      <div class='container-fluid'>
            <h2>Inainte de a face o plangere va rog sa cititi legea!</h2>
            <div style="text-align: center;">
                <p>Apasa cutia pentru a vedea legea </p>
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="background: grey;">
                      Legea privind regimul deseurilor
                    </button>
                  </p>
           </div>

      <form method="post" action="/Cerere">
        {% csrf_token %}
        <div class="form-group">
            <div class="alert alert-info">
                <strong>Info!</strong> Vă rugăm să competaţi datele persoanei sancţionate prin procesul verbal de
                contravenţie
            </div>
            <label for="Nume">Nume</label>
            <input type="text" class="form-control" id="NumeFamilie" name="nume" aria-describedby="numeHelp"
                   placeholder="Introduceti numele">
            <label for="Prenume">Prenume</label>
            <input type="text" class="form-control" id="Prenume" name="prenume" aria-describedby="prenumeHelp"
                   placeholder="Introduceti prenumele">
            <label for="Telefon Mobil">Telefon Mobil</label>
            <input type="tel" class="form-control" id="nrTel" name="telefon" aria-describedby="nrTel"
                   placeholder="Introduceti numarul de telefon">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="email" name="e_mail" aria-describedby="emailHelp"
                   placeholder="Introduceti email">
            <label for="Adresa Procedurala">Adresa Procedurala</label>
            <input>
        </div>
      
      
        <div class="form-group">
          <div class="alert alert-info">
            <strong>Info!</strong> Va rugam sa completati numele,prenumele, calitatea si institutia din care face parte agentul constator
          </div>
        </div>
        <label for ="Nume">Nume</label>
        <input type ="text" class = "form-control" id = "NumeFamilie" aria-describedby="numeHelp" placeholder="Introduceti numele">
        <label for = "Prenume">Prenume</label>
        <input type ="text" class = "form-control" id = "Prenume" aria-describedby="prenumeHelp" placeholder="Introduceti prenumele">
        <label for = "calitatea">Calitatea</label>
        <input type ="text" class = "form-control" id = "calitatea" aria-describedby="calitatea" placeholder="Calitatea">
        <label for = "Institutia">Institutia</label>
        <input type ="text" class = "form-control" id = "institutia" aria-describedby="institutia" placeholder="Introduceti institutia">
    </div>

    
      <div class="form-group">
        <label for="locul savarsirii contraventiei">Locul savarsirii contraventiei</label>
        <br>
        <br>
      </div>
    




          <label for ="posesie proces verbal">Sunteti in posesia procesului verbal?</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Da
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
            <label class="form-check-label" for="defaultCheck2">
              Nu
            </label>
          </div>
        </div>

        
          <div class="form-group">
            <div class="alert alert-info">
              <strong>Info!</strong> Va rugam completati seria,numarul si data intocmirii procesului verbal
            </div>
            <br>
            <br>
            <br>
            <p>Instanta competenta</p>
          </div>
        

        
          <div class="form-group">
            <div class="alert alert-info">
              <strong>Info!</strong> Cum ati intrat in posesia procesului verbal?
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Prin inmanarea la fata locului
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
              <label class="form-check-label" for="defaultCheck2">
                Prin posta
              </label>
            </div>
          </div>
          </div>
        

        
          <div class="form-group">
            <div class="alert alert-info">
              <strong>Info!</strong> Data inmanarii/comunicarii procesului verbal de contraventiei
            </div>
          </div>
        
          <br>
          <br>
          <p>Calendar</p>


       
          <div class="form-group">
        <label for ="data-savarsii-faptei">Data savarsirii faptei</label>
        <input type ="date" class = "form-control" id = "data-savarsii-faptei" aria-describedby="numeHelp" placeholder="Data savarsirii faptei">
      </div>
      


      
        <div class="form-group">
          <label for = "amenda-achitata">Ati platit amenda instituita prin procesul verbal?</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Da
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
            <label class="form-check-label" for="defaultCheck2">
              Nu
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Incarcati imaginea</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Imaginea sa fie pdf sau jpg</label>
              </div>
            </div>
          </div>
        <div>
      

      <br>
      <br>

      
        <div class="form-group">
          <label for = "amenda-achitata">Ati platit amenda instituita prin procesul verbal?</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Doresc anularea amenzi pentru că sunt nevinovat iar amenda este abuzivă. Am documente şi martori care să ateste nevinovaţia mea
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
            <label class="form-check-label" for="defaultCheck2">
              Doresc preschimbarea amenzii în avertisment pentru că deşi sunt vinovat, sunt la prima abatere contravenţională.
            </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
          <label class="form-check-label" for="defaultCheck2">
            Doresc reducerea cuantumului amenzii pentru că amenda primită reprezintă maximul din cât mi se putea aplica sau este disproporţionată în raport de veniturile mele
          </label>
      </div>
      
      <br>
      <br>
      
        <div class="form-group">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Vă rugăm să prezentaţi situaţia descrisă din procesul verbal</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
          </div>
        </div>
     

      <br>
      <br>
      
        <div class="form-group">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Vă rugăm să prezentaţi situaţia de fapt din punctul dumneavoastră de vedere, mai ales dacă e diferită de de cea prezentată de agentul constatator</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
          </div>
        </div>
      

      
        <div class="form-group">
           <label for="norma-legala">Vă rugăm să completaţi articolele şi norma legală din procesul verbal cu privire la fapta comisă:</label>
           <br>
           <br>
           <label for ="art">Articolul</label>
           <input type ="text" class = "form-control" id = "articolul" aria-describedby="numeHelp" placeholder="Articolul">
           <label for ="aliniat">Aliniatul</label>
           <input type ="text" class = "form-control" id = "aliniatul" aria-describedby="numeHelp" placeholder="Aliniatul">
           <label for="norma-legala">Norma legală în care sunt prevăzute faptele contravenţionale</label>
           <input type ="text" class = "form-control" id = "norma-legala" aria-describedby="numeHelp" placeholder="Norma legala contravenţională">
        </div>
     

      <br>
      <br>

      
        <div class="form-group">
           <label for="norma-legala">Vă rugăm să completaţi articolele şi norma legală din procesul verbal cu privire la sancţiunea aplicată:</label>
           <br>
           <br>
           <label for ="art">Articolul</label>
           <input type ="text" class = "form-control" id = "articolul" aria-describedby="numeHelp" placeholder="Articolul">
           <label for ="aliniat">Aliniatul</label>
           <input type ="text" class = "form-control" id = "aliniatul" aria-describedby="numeHelp" placeholder="Aliniatul">
           <label for="norma-legala">Norma legală în care sunt prevăzute sanctiunile</label>
           <input type ="text" class = "form-control" id = "norma-legala" aria-describedby="numeHelp" placeholder="Norma legala prevazute sanctiunile">
        </div>
     

      <br>
      <br>

      
        <div class="form-group">
          <label for="martori">Aveţi martori care să fie audiaţi de instanţa de judecată şi care sunt pregatiţi să vă probeze nevinovaţia?</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Da
            </label>
            <label>If check da open (Nume,Prenume, Adresa)</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
            <label class="form-check-label" for="defaultCheck2">
              Nu
            </label>
        </div>
      
<br>
<br>
<br>
      
        <div class="form-group">
          <label for="documente">Cu ce alte documente vă puteţi apăra în faţa instanţei de judecată?</label>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Adeverinţă de venit/talon de pensie
            </label>
            </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
            <label class="form-check-label" for="defaultCheck2">
              Adeverinţă medicală
            </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Alte documente
          </label>
        </div>
        </div>
      
<br>
<br>
      
        <div class="form-group">
          <label for="documente-upload">Vă rugăm să încărcaţi documentele AICI. Dacă nu le puteţi încărca în formular, ni le puteţi trimite separat pe adresa de email ….</label>
          <br>
          <br>
          <label for="CI">Cartea de identitate</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Incarcati documentul</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01">
                <form method = "post" enctype="multipart/form-data"> 
                  {% csrf_token %} 
                  {{ form.as_p }} 
                  <button type="submit">Upload</button> # Save poze local
              </form> 
            </div>
          </div>
          <br>
          <br>

          <label for="CI">Proces verbal de contraventie</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Incarcati documentul</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01">
            </div>
          </div>
          <br>
          <br>

          <label for="CI">Chitanta plata amenda</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Incarcati documentul</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01">
            </div>
          </div>

          <br>
          <br>

          <label for="CI">Orice alt document necesar- ex copii buletine martori, adeverinţe de venit, medicale, etc</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">Incarcati documentul</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01">
            </div>
          </div>
        </div>
      

    <br>
    <br>

   
      <div class="form-group">
        <label for="sedinta">Doriţi să vă prezentaţi la sedinţele de judecată sau doriţi judecarea cererii în lipsă?</label>
        <br>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
             Doresc să particip la şedinţele de judecată
          </label>
            <br>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                 Doresc judecarea cererii de chemare în judecată în lipsa mea
              </label> <p>(chiar daca ati solicitat judecarea cererii in lipsa, trebuie sa raspundeti la solicitarile ulterioare la instantei de judecata (citatii) pentru a evita suspendarea procesului si perimarea cererii)</p>
      </div>
    


    <br>
    <br>

   
      <div class="form-group">
        <label for="avocat">Doriţi să fiţi asistat de un avocat în sala de judecată?</label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Da
          </label>
            <br>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                 Nu
              </label>
      </div>
   

    <div class="form-group">
      <label for ="termeni">Menţionez că am citit şi sunt de acord cu termenii şi condiţiile prezentei aplicaţii</label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Da adaugat termenii si conditii
        </label>
          <br>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
               Nu           
            </label>

            <div>
              <label>PLATA</label>
            </div>
    </div>
          <input type="submit" name="submit" value="Inregistreaza cererea">
      </form>
</script>
</body>
</html>
