<html>
<head>
    <title>GunoiulStrazii</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'lexbox/bootstrap/bootstrap.css' %}">

<style>
    .column{
        float:left;
        width:35%;
        padding: 50px;
        text-align: center;
        font-size: 25px;
        cursor: pointer;
        color: white;
    }
    .containerTab {
  padding: 20px;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the container tab */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
</style>




</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">LexBox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cerere formulare</a>
          <ul class="dropdown-menu" role="menu">
            <a class="dropdown-item" href="Gunoi">Aruncarea Gunoiului</a>
            <a class="dropdown-item" href="Parcare">Loc de parcare</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </ul>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>


      <div class='container-fluid'>
            <h2>Inainte de a face o plangere va rog sa cititi legea!</h2>
            <div style="text-align: center;">
                <p>Apasa cutia pentru a vedea legea </p>
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="background: grey;">
                      Legea privind regimul deseurilor
                    </button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        Republicată în temeiul art. 248 din Legea nr. 187/2012 pentru punerea în aplicare a Legii nr. 286/2009 privind Codul penal, publicată în Monitorul Oficial al României, Partea I, nr. 757 din 12 noiembrie 2012, dându-se textelor o nouă numerotare.
                        Legea nr. 211/2011 privind regimul deșeurilor a fost publicată în Monitorul Oficial al României, Partea I, nr. 837 din 25 noiembrie 2011.
                        § 1. Dispoziții generale
                        Articolul 1
                        Prezenta lege stabilește măsurile necesare pentru protecția mediului și a sănătății populației, prin prevenirea sau reducerea efectelor adverse determinate de generarea și gestionarea deșeurilor și prin reducerea efectelor generale ale folosirii resurselor și creșterea eficienței folosirii acestora.
                        § 2. Domeniul de aplicare
                        Articolul 2
                        (1) Se exclud din domeniul de aplicare al prezentei legi următoarele:
                        a) efluenții gazoși emiși în atmosferă și dioxidul de carbon captat și transportat în scopul stocării geologice și stocat geologic potrivit prevederilor Directivei 2009/31/CE a Parlamentului European și a Consiliului din 23 aprilie 2009 privind stocarea geologică a dioxidului de carbon și de modificare a Directivei 85/337/CEE a Consiliului, precum și a directivelor 2000/60/CE, 2001/80/CE, 2004/35/CE, 2006/12/CE, 2008/1/CE și a Regulamentului (CE) nr. 1.013/2006 ale Parlamentului European și ale Consiliului, cu modificările ulterioare, sau excluși din domeniul de aplicare al respectivei directive potrivit prevederilor art. 2 alin. (2) din aceasta;
                        b) solurile (in situ), inclusiv solurile contaminate neexcavate și clădiri legate permanent de sol;
                        c) solurile necontaminate și alte materiale geologice naturale excavate în timpul activităților de construcție, în cazul în care este cert că respectivul material va fi utilizat pentru construcții în starea sa naturală și pe locul de unde a fost excavat;
                        d) deșeurile radioactive;
                        e) explozibilii declasați;
                    </div>
                  </div>
           </div>
</script>
</body>
</html>
