    <html>
        <head>
            <title>Parcarile platite</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        </head>



        <body>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="" style="color: black;">LexBox</a>
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="active"><a href=''>Acasa</a></li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                       Cerere Formulare
                      </a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="Parcare">Loc de parcare</a>
                        <a class="dropdown-item" href="Gunoi">Aruncare gunoiului</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </nav>
            <div class="container-fluid">
                <h3>Inainte de a depune plangere in legatura cu parcarea va rog sa consulatati legea!</h3>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="background: grey;">
                    Legea privind regimul deseurilor
                  </button>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                      Trebuie gasit legea 
                  </div>
                </div>
            </div>
           
        </body>
    </html>